.reading {
  display: flex;
  flex-direction: column;
  .category {
    margin-bottom: 2rem;
    .category-title {
      font-weight: 500;
    }
    .book {
      img {
        margin-right: 3px;
        &.dark {
          filter: invert(84%) sepia(97%) saturate(1010%) hue-rotate(180deg) brightness(113%) contrast(104%)
        }
      }
      margin-bottom: 0.1rem;
    }
  }
  .reading-list {
    width: fit-content;
  }
}