.work {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  .jobs {
    .job {
      margin-bottom: 1.5rem;
      .primary {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.875rem;
        margin-bottom: 1.5rem;
      }
      .secondary {
        margin-bottom: 1.5rem;
        font-style: italic;
        font-style: italic;
        oacity: 0.8;
      }
      .points {
        width: 95%;
        .point {
          font-size: 1rem;
          display: block;
          margin-bottom: 0.3rem;
        }
        h1 {
          font-size: 2rem;
          font-weight: 400;
        }
        h2 {
          font-size: 1.5rem;
          font-weight: 400;
        }
        h3 {
          font-size: 1rem;
          font-weight: 700;
        }
      }
      hr {
        background: #DBDBDB;
        height: 1px;
        margin: 3rem 0;
        color: #8996A7;
      }
    }
  }
}
