.app {
  min-height:100vh;
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 768px){
    flex-direction: column;
  }
  &.light {
    transition: background 0.15s ease-out, color 0.15s ease-out;
    background: #FBFBFB;
    color: #6D7788;
    a {
      text-decoration: none;
      position: relative;
      color: inherit;
      position:relative;
      display:inline-block;
      transition: all 0.2s ease-out;
      &:visited {
        color: #6D7788;
      }
      &.highlight {
        color: #5E70CC;
      }
      &.nohighlight {
        color: #5E70CC;
      }
      &:after {
        content: "";
        border-bottom:solid transparent 2px;
        border-radius: 2px;
        position: absolute;
        display:block;
        left: 0;
        margin:0 auto;
        top:90%;
        background-color: #5E70CC;
        opacity: 0.5;
        height: 1px;
        width: 0%;
        transition: width 0.2s ease;
      }
      &.active {
        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }
  &.dark {
    background: #202229;
    color: #E9ECEE;
    transition: all 0.2s ease-out, color 0.2s ease-out;
    a {
      &.active {
        p {
          color: #E9ECEE;
          border-bottom: none;
        }
      }
      text-decoration: none;
      position: relative;
      color: #E9ECEE;
      &:visited {
        color: #E9ECEE;
      }
      &.highlight {
        color: #7A90E9;
      }
      &.nohighlight {
        color: #7A90E9;
      }
      &:after {
        content: "";
        border-bottom:solid transparent 2px;
        border-radius: 2px;
        position: absolute;
        display:block;
        left: 0;
        top:90%;
        margin:0 auto;
        height: 1px;
        width: 0%;
        background-color: #7A90E9;
        opacity: 0.5;
        transition: width 0.2s ease;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }
  .app-content {
    max-width: 50vw;
    margin-left: 30vw;
    padding-top: 10vh;
    padding-left: 10vw;
    @media only screen and (max-width: 768px){
      max-width: 95vw;
      margin-left: unset;
      padding-top: 4vh;
      padding-left: 4vw;
      margin-bottom: 4vh;
    }
  }
}
