.image {  
  &.fullwidth {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      margin-left: 5%;
    }
    figcaption {
      margin-top: 0.5rem;
      font-size: 0.75rem;
      color: #8E8E8E;
    }
  }
  &.three {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    @media only screen and (max-width: 768px){
      flex-direction: column;
    }
    figure {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 2%;
      img {
        width: 100%;
        @media only screen and (max-width: 768px){
          width: 90vw;
        }
      }
      figcaption {
        margin-top: 0.5rem;
        font-size: 0.75rem;
        color: #8E8E8E;
        text-align: center;
      }
    }
  }
  &.left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1.5rem 0;
    @media only screen and (max-width: 768px){
      flex-direction: column;
      align-items: center;
    }
    figure {
      img {
        width: 100%;
      }
    }
    .text {
      margin-left: 4%;
      width: 40%; 
      @media only screen and (max-width: 768px){
        margin-left: unset;
        width: 100%;
      }
      p {
        @media only screen and (max-width: 768px){
          margin: 2vh 0;
        }
      }
    }
  }
  &.right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1.5rem 0;
    @media only screen and (max-width: 768px){
      flex-direction: column-reverse;
      align-items: center;
    }
    figure {
      img {
        width: 100%;
      }
    }
    .text {
      margin-right: 4%;
      width: 40%;
      @media only screen and (max-width: 768px){
        margin-right: unset;
        width: 100%;
      }
      p {
        @media only screen and (max-width: 768px){
          margin: 2vh 0;
        }
      }
    }
  }
}